<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    

  </appSettings>

  <connectionStrings>
    <add name="GBS_CR_EAST_AUTOMATIONSConnectionString" connectionString="Data Source=G1W6859.americas.hpqcorp.net,20480;Initial Catalog=GBS_CR_EAST_AUTOMATIONS;Integrated Security=True"
        providerName="System.Data.SqlClient" />

  </connectionStrings>
  <system.web>
    <authentication mode="Windows" />
    <identity impersonate="true" userName="AMERICAS\jaensoli" password="ajs2603931!" />
    <!--<identity impersonate="true"/>-->




    <compilation targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>

</configuration>


